@use "sass:color";
@use "../root/" as *;

/* Form Container */
.form-wrapper {
 max-width: 550px;
 margin: $spacing-md auto;
 padding: $spacing-lg;
 border-radius: 12px;
 background: var(--text-light);

 @include media(700) {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
 }

 h2 {
  color: $primary;
  margin-bottom: $spacing-sm;
 }

 p {
  color: var(--text-dark) !important;
  font-size: 1.1rem !important;
  margin-bottom: $spacing-sm !important;
 }
 /* Feedback Messages */
 .err-text {
  color: $error-color !important;
  font-size: 0.95rem !important;
  font-weight: 500;
  margin-top: 4px;
 }

 .toast {
  background: $success-color;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  margin-top: 1.1rem;
 }
}

/* Inputs & Textarea */
.input-field {
 margin-top: 12px;
 margin-bottom: 12px;
}

/* Buttons */
.btn {
 @include button-style(transparent, $primary, $primary, #ffffff);
 margin-top: 1.5rem;
 padding: $spacing-xs $spacing-sm;
 font-size: 0.9rem;
 @include media(700) {
  padding: $spacing-sm $spacing-md;
  font-size: 1rem;
 }
}
.btn:disabled {
 background-color: #94a3b8;
 cursor: not-allowed;
}
/* Transitions */
.fade-enter-active,
.fade-leave-active {
 transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
 opacity: 0;
}
