@use "sass:color";
@use "../root/" as *;

.post-navigation {
 max-width: 960px;
 margin: 0 auto;
 padding-bottom: $spacing-xxl;

 @media (max-width: $breakpoint-mobile) {
  padding-bottom: $spacing-xl;
 }

 .back-button {
  display: inline-flex;
  align-items: center;
  gap: $spacing-xs;
  padding: 5px 10px;
  border: 2px solid $primary;
  color: $primary;
  border-radius: $border-radius;
  font-weight: 500;
  font-size: 0.9rem;
  transition: $transition;

  &:hover {
   background: color.adjust(red, $lightness: -5%);
   color: white;
   transform: translateX(-4px);
  }

  svg {
   transition: $transition;
  }
 }
}
